<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to Mongoose Flights </h1>
    <p><a href="flights/">All flights</a></p>
  </body>
</html>
