<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>New Flight</title>
</head>
<body>
    <h1>This is the new flight page</h1>
    <nav>
        <a href="/flights/new">Add Flight</a> |
        <a href="/flights/">All Flights</a>
    </nav>
    <form id="new-form" action="/flights" method="post">
        <label>Airline</label>
        <input type="text" name="airline">
        <label>Airport</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="'DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <label>Flight Number</label>
        <input type="text" name="flightNo">
        <label>Departure</label>
        <input type="datetime-local" name="departs">
        <input type="submit" value="Add Flight">
    </form>
</body>
</html>